<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<title>Test</title>
<body>
<header>
    <nav class="nav-flex-container">
        <div class="logo">
            <a>ALIAS</a>
        </div>
        <div class="nav-link">
            <a>About</a>
        </div>
        <div class="nav-button">
            <a>Sign in</a>
        </div>
        <div class="nav-button">
            <a>Sign up</a>
        </div>
    </nav>
</header>

<main class="main-flex-container">
    <div class="lobby-id-container">
        <span id="lobby-id">ID</span>
        <span class="label">Share it with your friends</span>
    </div>
    <div class="game-area-container">
        <div class="side-container">
            <div class="team-box"></div>
            <div class="team-box"></div>
            <div class="backlog"></div>
        </div>
        <div class="word-area"></div>
    </div>
</main>

<footer>

</footer>
</body>