<section>
    <div class="lobby-id-container">
        <span id="lobby-id">Game ID (also progress bar)</span>
        <!-- <span class="label">Share it with your friends</span> -->
        <span id="lobby-players-span" class="label bold-label" title="Players in lobby"><span id="totalPlayers">1</span> / 4</span>
        <div id="start-round-button" class="nav-button start-round-btn" style="display: block;">Start</div>
    </div>
</section>

<section class="game-area-container">
    <div class="side-container">
        <div id="join-first-team-btn" class="join-team-btn">Join team #1</div>
        <div class="team-box">
           <div id="first-player" class="player">Player 1 <span>(creator)</span></div>
           <div id="second-player" class="player">Empty slot</div>
           <div class="score" title="Score">0</div>
        </div>
        <div id="join-second-team-btn" class="join-team-btn">Join team #2</div>
        <div class="team-box">
            <div id="third-player" class="player">Empty slot</div>
            <div id="fourth-player" class="player">Empty slot</div>
            <div class="score" title="Score">0</div>
        </div>
        <div class="backlog">
            <!-- <div class="expr">
                <span class="accepted">expression</span>
                <img class="vote-btn" width="20rem" height="20rem" src="/img/up.png" title="Accept">
                <img class="vote-btn" width="20rem" height="20rem" src="/img/down.png" title="Reject">
            </div>
            <div class="expr">
                <span class="rejected">expression</span>
                <img class="vote-btn" width="20rem" height="20rem" src="/img/up.png" title="Accept">
                <img class="vote-btn" width="20rem" height="20rem" src="/img/down.png" title="Reject">
            </div> -->
        </div>
    </div>
    <div class="word-area">
        <div class="word">VERY BIG WORD</div>
        <div class="next-word">
            <div class="float accepted" title="Accept">
                <div class="float-body">
                    <img width="30rem" height="30rem" src="/img/check.png">
                </div>
            </div>
            <div class="float rejected" title="Reject"> 
                <div class="float-body">
                    <img width="30rem" height="30rem" src="/img/cross.png">
                </div>
            </div>
        </div>
    </div>
</section>