<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alias Game</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <script src="/js/index.js"></script>
        <script src="/js/game.js"></script>
        <script src="/js/game.layout.js"></script>
        <script src="/js/auth.js"></script>
        <script src="/js/index.forms.js"></script>
        <script src="/js/index.modals.js"></script>
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/signalr.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav-flex-container">
                <div class="logo">
                    <a>ALIAS</a>
                </div>
                <div id="signInBtn" class="nav-button" style="display: none;">
                    Sign in
                </div>
                <div id="signUpBtn" class="nav-button" style="display: none;">
                    Sign up
                </div>
                <div id="signOutBtn" class="nav-button" style="display: none;">
                    Sign out
                </div>
                <div id="leaveGameBtn" class="nav-button" style="display: none;">
                    Leave game
                </div>
            </nav>
        </header>
        
        <aside>
            <div id="signInModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Sign in</h2>
                    </div>
                    <div class="modal-body">
                        <form id="signinForm" class="account-form">
                            <label>Nickname</label>
                            <input id="signinNickname" class="form-element" type="text" name="nickname" minlength="4" maxlength="12">
                            <span class="error"></span>
                            <label>Password</label>
                            <input id="signinPassword" class="form-element" type="password" name="password" minlength="8">
                            <span class="error"></span>
                            <input id="signinButton" class="form-submit" type="submit" value="Sign in">
                            <a href="#">Forgot password?</a>
                        </form>
                    </div>
                </div>
            </div>
        
            <div id="signUpModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Sign up</h2>
                    </div>
                    <div class="modal-body">
                        <form id="signupForm" name="signupForm" class="account-form">
                            <label>Nickname</label>
                            <input id="signupNickname" class="form-element" type="text" name="nickname" minlength="4" maxlength="12">
                            <span class="error"></span>
                            <label>Password</label>
                            <input id="signupPassword" class="form-element" type="password" name="password" minlength="8">
                            <span class="error"></span>
                            <label>Confirm password</label>
                            <input id="signupConfirmPassword" class="form-element" type="password" name="confirmPassword" minlength="8">
                            <span class="error"></span>
                            <input id="signupButton" class="form-submit" type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
            </div>
        
            <div id="profileModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Profile</h2>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm" name="changePasswordForm" class="account-form">
                            <fieldset>
                                <p id="profile-nickname">nickname</p>
                                <p>Total games: <span id="profile-total-games">0</span></p>
                                <p>Wins: <span id="profile-wins">0</span></p>
                            </fieldset>
                            <label>Current password</label>
                            <input id="profileCurrentPassword" class="form-element" type="password" name="currentPassword" minlength="8">
                            <span class="error"></span>
                            <label>New password</label>
                            <input id="profileNewPassword" class="form-element" type="password" name="newPassword" minlength="8">
                            <span class="error"></span>
                            <label>Confirm password</label>
                            <input id="profileConfirmPassword" class="form-element" type="password" name="confirmPassword" minlength="8">
                            <span class="error"></span>
                            <input id="changePasswordButton" class="form-submit" type="submit" value="Change password">
                        </form>
                    </div>
                </div>
            </div>

            <div id="joinGameModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Join game</h2>
                    </div>
                    <div class="modal-body">
                        <form id="joinGameForm" name="joinGameForm" class="account-form">
                            <label>Game ID</label>
                            <input id="gameId" class="form-element" type="text" name="gameId" minlength="1" maxlength="36">
                            <span class="error"></span>
                            <input id="joinGameButton" class="form-submit" type="submit" value="Join">
                        </form>
                    </div>
                </div>
            </div>

            <div class="loading" id="spinner"><div></div><div></div></div>
        </aside>

        <main class="main-flex-container" id="mainContent">
            <div class="start-game-container">
                <figure class="box start-game-img" id="startGame"></figure>
                <figure class="box join-game-img" id="joinGame"></figure>
                <figure class="box profile-img" id="profile"></figure>
            </div>
        </main>
        
        <footer class="footer-container" id="footer">
            <address class="contacts">
                <p>CONTACTS</p>
                <ul>
                    <li>
                        <figure class="contact-element">
                            <a href="#"><img width="40px" height="40px" src="/img/github-logo.png" alt="github"></a>
                            <a href="#"><figcaption class="contact-caption">explosion204</figcaption></a>
                        </figure>
                    </li>
                    <li>
                        <figure class="contact-element">
                            <a href="#"><img width="40px" height="40px" src="/img/gmail-logo.png" alt="e-mail"></a>
                            <a href="#"><figcaption class="contact-caption"><i>dzmitriy20magic@gmail.com</i></figcaption></a>
                        </figure>
                    </li>
                </ul>
            </address>
        </footer>
    </body>
</html>