* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 100ms linear;
}

/* html, body {
    min-height: 100vh;
} */

body {
    display: block;
    position: relative;
    min-height: 100vh;
}

/* preload images */
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content:
        url('/img/newgamenotactive.png') url('/img/newgameactive.png') 
        url('/img/joingamenotactive.png') url('/img/joingameactive.png') 
        url('/img/profilenotactive.png')  url('/img/profileactive.png');
}

address {
    font-style: normal;
}

.nav-flex-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.nav-button {
    padding: 0.7rem 0;
    margin: 0.7rem 0.5rem;
    width: 8rem;
    text-align: center;
    color: white;
    background-color: rgb(9, 120, 194);
    font-size: 1.2rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
}

.nav-button:hover {
    background-color: white;
    border: 1px rgb(9, 120, 194) solid;
    color: rgb(9, 120, 194);
    cursor: pointer;
}

.nav-button:disabled {
    background-color: rgba(9, 120, 194, 0.5);
}

.nav-flex-container .logo {
    margin: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: auto;
    cursor: pointer;
}

.main-flex-container {
    padding: 4rem 0 10rem 0;
    /* display: flex; */
    display: none;
    flex-direction: column;
}

.start-game-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.start-game-container .box {
    border: 3px solid rgb(9, 120, 194);
    margin: 8rem 1rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.footer-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 10rem;
    background-color: rgb(9, 120, 194);
}

.contacts {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 2rem;
    height: 8rem;
    align-items: center;
}

.contacts li {
    display: inline-block;
    margin: 0 1rem;
}

.contacts ul {
    list-style-type: none;
}

.footer-container .contacts a {
    color: white;
}

.contact-element {
    display: flex;
    align-items: center;
    margin: 0.4rem;
    justify-content: center;
}

.contact-caption {
    margin-left: 1rem;
    text-align: center;
}

.start-game-img {
    background: url('/img/newgamenotactive.png') no-repeat;
    background-size: cover;
}

.start-game-img:hover {
    background: url('/img/newgameactive.png') no-repeat;
    background-size: cover;
    border: none;
}

.join-game-img {
    background: url('/img/joingamenotactive.png') no-repeat;
    background-size: cover;
}

.join-game-img:hover {
    background: url('/img/joingameactive.png') no-repeat;
    background-size: cover;
    border: none;
}

.profile-img {
    background: url('/img/profilenotactive.png') no-repeat;
    background-size: cover;
}

.profile-img:hover {
    background: url('/img/profileactive.png') no-repeat;
    background-size: cover;
    border: none;
}

.lobby-id-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8rem;
    background-color: rgb(9, 120, 194);
    color: white;
}

#lobby-id {
    margin: auto auto 0 auto;
}

.lobby-id-container .label {
    margin: 10px auto auto auto;
}

.game-area-container {
    display: flex;
    position: absolute;
    top: 12rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
}

.side-container {
    display: flex;
    flex-direction: column;
}

.team-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.375rem 0.375rem 0.188em 0.375rem;
    width: 12.5rem;
    height: auto;
}

.join-team-btn {
    margin: 0.375rem 0.375rem;
    padding: 0.2rem;
    text-align: center;
    background-color: rgb(9, 120, 194);
    color: white;
    border: 1px white solid;
    cursor: pointer;
}

.join-team-btn:hover {
    border: 1px rgb(9, 120, 194) solid;
    background-color: white;
    color: rgb(9, 120, 194);
}

.player {
    margin: 0 0.5rem;
}

.player.active {
    background-color: lightgrey;
}

.score {
    margin: auto auto 0 auto;
    font-family: 'Bebas Neue';
    font-size: 2rem;
}

.backlog {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.375rem 0.375rem 0 0.375rem;
    width: 200px;
    height: 100%;
}

.word-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0.375rem 0.375rem 0 0;
    width: 100%;
}

.word-area p {
    text-align: center;
}

.word {
    font-size: 5rem;
    word-break: break-all;
    margin: auto;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
}

.next-word {
    display: flex;
}

.float {
    display: flex;
	width: 5rem;
	height: 5rem;
	color: #FFF;
	border-radius: 5rem;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
    margin: 0.35rem 0.35rem;
    cursor: pointer;
}

.float-body {
	margin: auto;
}

.bold-label {
    font-size: 2rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
}

.backlog .expr {
    display: flex;
    margin: 0.1rem 0.5rem;
}

.backlog .expr .vote-btn {
    cursor: pointer;
}

.accepted {
    margin-right: auto;
    background-color: mediumseagreen;
    color: white;
}

.rejected {
    margin-right: auto;
    background-color: salmon;
    color: white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10rem; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 14px 16px;
    background-color: rgb(9, 120, 194);
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 0.15rem;
}

.modal-body {
    padding: 2px 16px;
}

.account-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.account-form fieldset p {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(9, 120, 194);
    font-weight: 900;
}

.account-form .error {
    display: block;
    color: darkred;
    margin-bottom: 0.5rem;
}

.form-element, .form-element:valid {
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
    border: 1px solid rgb(9, 120, 194);
}

.form-element:focus {
    outline: none;
    border: 3px solid rgb(9, 120, 194);
}

.form-element:invalid {
    border: 1px solid red;
}

.form-element:focus:invalid {
    border: 3px solid red;
}

.account-form a {
    margin: 10px 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.form-submit {
    border: none;
    background-color: rgb(9, 120, 194);
    height: 35px;
    margin: 10px 0;
    color: white;
}

.form-submit:active, .form-submit:focus {
    outline: none;
}

.account-form .form-submit:disabled {
    background-color: rgba(9, 120, 194, 0.5);
}

.account-form .form-submit:enabled:hover {
    background-color: white;
    border: 1px rgb(9, 120, 194) solid;
    color: rgb(9, 120, 194);
    cursor: pointer;
}

@media (max-width: 110em) {
    .main-flex-container .start-game-container {
        flex-direction: column;
    }

    .main-flex-container .start-game-container .box {
        margin: 2rem auto;
    }

    .contacts li {
        display: inline-block;
    }
}

@media (max-width: 70em) {
    .game-area-container {
        flex-direction: column;
    }

    .side-container {
        flex-direction: row;
    }

    .join-team-btn {
        writing-mode: vertical-lr;
    }

    .team-box {
        width: 16rem;
        height: 8rem;
    }

    .backlog {
        border: 1px solid black;
        margin: 0.375rem 0.375rem 0.188em 0.375rem;
        width: 100%;
        height: 8rem;
    }

    .word-area {
        width: 98.5%;
    }
}

.loading {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.loading div {
    position: absolute;
    border: 4px solid rgb(9, 120, 194);
    opacity: 1;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loading {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 180px;
        height: 180px;
        opacity: 0;
    }
}

/* @media (max-width: 110em) {
    .contacts li {
        display: inline-block;
    }
} */
